
<div class="body">
  <div class="content-section">
    <div class="content-section-title">Minor Elements I-N </div>

    <!-- ==========  Iron ============-->

    <div class="apps-card center-card">
      <div class="app-card g-col-3 ">
        <span>
          <div class="chemImg">

            <img src="../../../assets/CaCl.png" alt="" >
          </div>

          Iron
          <div (click)="selectedElement = 'Iron'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

      </span>
        <div class="menu"></div>
        <div class="app-card__subtext">{{ironStart}} </div>
        <div class="app-card-buttons input-group">
          <input
              type="text"
              class="form-control"
              placeholder="Iron in ppm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="iron">
          <button
              class="btn btn-primary"
              type="button"
              id="button-addon2"
              (click)="onAddIron()"
          >Submit</button>
        </div>
      </div>
    </div>

       <!-- ========== Lithium  ============-->

      <div class="apps-card ">
       <div class="app-card g-col-3 ">
        <span>
          <div class="chemImg">

            <img src="../../../assets/MgCl.png" alt="" >
          </div>
          Lithium

          <div (click)="selectedElement = 'Lithium'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

      </span>
        <div class="menu lithium"></div>
        <div class="app-card__subtext">{{lithiumStart}} </div>
        <div class="app-card-buttons input-group">
          <input
              type="text"
              class="form-control"
              placeholder="Lithium in ppm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="lithium">
          <button
              class="btn btn-primary"
              type="button"
              id="button-addon2"
              (click)="onAddLithium()"
            >Submit</button>
        </div>
      </div>

      <!-- ========== Manganese  ============-->

      <div class="app-card">
        <span>
          <div class="chemImg">
            <img src="../../../assets/SoCl.png" alt="" />
          </div>
          Manganese

          <div
            (click)="selectedElement = 'manganese'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          ></div>
        </span>
        <div class="menu"></div>
        <div class="app-card__subtext">{{ manganeseStart }}</div>

        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Manganese in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="manganese"
          />

          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddManganese()"
          >
            Submit
          </button>
        </div>
      </div>

      <!-- ==========  Molybdenum ============-->

      <div class="app-card g-col-3">
        <span>
          <div class="chemImg">
            <img src="../../../assets/sodium bicarb.png" alt="" />
          </div>

          Molybdenum

          <div
            (click)="selectedElement = 'Molybdenum'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
        </span>

        <div class="app-card__subtext">{{ molybdenumStart }}</div>

        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Molybdenum in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="molybdenum"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddMolybdenum()"
          >
            Submit
          </button>
        </div>
      </div>

      <!-- ========== Nickle  ============-->

      <div class="app-card g-col-3">
        <span>
          <div class="chemImg">
            <img src="../../../assets/CaCl.png" alt="" />
          </div>
          Nickle

          <div
            (click)="selectedElement = 'Nickle'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
        </span>
        <div class="menu"></div>
        <div class="app-card__subtext">{{ nickleStart }}</div>
        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder=" Nickle in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="nickle"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddNickle()"
          >
            Submit
          </button>
        </div>
      </div>




  </div>

  <app-modal [elementName]="selectedElement" [volume]="volume"></app-modal>


</div>

