
<div class="body">
  <div class="content-section">
    <div class="content-section-title">Base Elements</div>

    <div class="apps-card center-card">
      <div class="app-card">
        <span>
          <div class="chemImg">

            <img src="../../../assets/h2o.png" alt="" >
          </div>
          Volume
        </span>
        <div class="menu"></div>


          <div class="app-card__subtext">{{volumeStart}}</div>
          <div class="app-card__warning">Must be submited before proceeding</div>



        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Volume In Gallons."
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="volume">

          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"

            (click)="onAddVolume()"
            >Submit
          </button>
        </div>
      </div>
    </div>


  <div class="apps-card">
    <div class="app-card">

      <span>
        <div class="chemImg">

          <img src="../../../assets/SoCl.png" alt="" >
        </div>
        Salinity

        <div (click)="selectedElement = 'alkilinity'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">

        </div>

    </span>
      <div class="menu" > </div>  <!--three dots -->
      <div class="app-card__subtext">{{salinityStart}}</div>


      <div class="app-card-buttons input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Salinity in ppm"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [(ngModel)]="salinity">

        <button
          class="btn btn-primary"
          type="button"
          id="button-addon2"

          (click)="onAddSalinity()"
          >Submit
        </button>
      </div>
    </div>

     <!-- ALKILINITY -->


 <div class="app-card g-col-3 ">

      <span>
        <div class="chemImg">

          <img src="../../../assets/sodium bicarb.png" alt="" >
        </div>

          Alkilinity

          <div (click)="selectedElement = 'Alkilinity'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

      </span>

      <div class="app-card__subtext">{{alkilinityStart}}</div>


      <div class="app-card-buttons input-group">
        <input
            type="text"
            class="form-control"
            placeholder="Alkilinity in DKH"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="alkilinity">
        <button
          class="btn btn-primary"
          type="button"
          id="button-addon2"
          (click)="onAddAlkilinity()"
        >Submit</button>
      </div>

    </div>

    <div class="app-card g-col-3 ">
      <span>
        <div class="chemImg">

          <img src="../../../assets/CaCl.png" alt="" >
        </div>
        Calcium

        <div (click)="selectedElement = 'Calcium'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bi bi-three-dots-vertical btn text-white"></i>
        </div>

    </span>
      <div class="menu"></div>
      <div class="app-card__subtext">{{calciumStart}} </div>
      <div class="app-card-buttons input-group">
        <input
            type="text"
            class="form-control"
            placeholder="Calcium in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="calcium">
        <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddCalcium()"
        >Submit</button>
      </div>
    </div>

  <div class="app-card g-col-3 ">
      <span>
        <div class="chemImg">

          <img src="../../../assets/MgCl.png" alt="" >
        </div>
        Magnesium

        <div (click)="selectedElement = 'Magnesium'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="bi bi-three-dots-vertical btn text-white"></i>
        </div>

    </span>
      <div class="menu magnesium"></div>
      <div class="app-card__subtext">{{magnesiumStart}} </div>
      <div class="app-card-buttons input-group">
        <input
            type="text"
            class="form-control"
            placeholder="Magnesium in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="magnesium">
        <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddMagnesium()"
          >Submit</button>
      </div>
    </div>

  </div>
</div>

<div>
  <app-modal [elementName]="selectedElement" [volume]="volume"></app-modal>
</div>




