   <span>
        <svg viewBox="0 0 512 512" style="border: 1px solid #a059a9"></svg>
        Salinity
      </span>
      <div class="menu" > </div>  <!--three dots -->
      <div class="app-card__subtext">{{salinityStart}}</div>


      <div class="app-card-buttons input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Salinity in ppm"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [(ngModel)]="salinity">

        <button
          class="btn btn-primary"
          type="button"
          id="button-addon2"

          (click)="onAddSalinity()"
          >Submit
        </button>
