<div class="shinerText h5  text-white">
    <h1>Reef Moonshiner’s System</h1>
        <p>
            The Reef Moonshiner’s method in a quick overview
            In a few words, the Moonshiner method is a smart and very easy way to manage the entire Reef
            Chemistry on a Reef tank in the most effective way that will allow the Reefkeeper to grow nearly
            any coral since there will be no limitations anymore that would avoid keeping the most difficult
            Corals when it comes to the required chemistry of the water.
        </p>
        <p>
            Basically, all important Trace elements, major and minor are individually measured, adjusted and
            maintained above natural seawater levels. So, there will be no room for questioning if anything
            may be depleted or missing that may lead to poor coloration or insufficient growth.
        </p>
        <p>
            The adjustment and corrections on depleted elements are performed after an ICP test.

        </p>
        <p>
            Also a few Elements are supplemented daily, to take advantage of the daily need of certain
            elements that usually deplete within a day or two after dosing or water change.
        </p>
        <p>
            The beauty is that there will be no overdosing possible of any element, since each element is
            monitored and supplemented individually via a calculation tool that makes the determination how
            much solution and for how many days it will need to be dosed to achieve the desired level.
        </p>
        <p>
            As soon the monthly or bimonthly corrections are performed, there is no worry about the
            chemistry for quite a while, and there is no real need for struggle with Test kits that may or may
            not correctly indicate Iodine, Potassium, Strontium etc. besides the fact that many minor
            elements not very significantly change between testing, hence no need for struggle and reading
            coloring charts not to mention the cost to maintain and keep the test kits.
        </p>
        <p>
            No limitation on Livestock such as the most sensitive SPS species after the corrections, that
            require high level maintenance normally. This method brings the tank to highest level standards,
            without having a Master’s degree in Chemistry or Biology!
        </p>

</div>








