<div class="body">
  <div class="content-section">
    <div class="content-section-title">Minor Elements A-L</div>

    <!-- ========== Barium  ============-->

    <div class="apps-card">
      <div class="app-card">
        <span>
          <div class="chemImg">
            <img src="../../../assets/SoCl.png" alt="" />
          </div>
          Barium

          <div
            (click)="selectedElement = 'Barium'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

          <div
            (click)="selectedElement = 'barium'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          ></div>
        </span>
        <div class="menu"></div>

        <div class="app-card__subtext">{{ bariumStart }}</div>

        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Barium in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="barium"
          />

          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddBarium()"
          >
            Submit
          </button>
        </div>
      </div>

      <!-- ========== Chromium  ============-->

      <div class="app-card g-col-3">
        <span>
          <div class="chemImg">
            <img src="../../../assets/sodium bicarb.png" alt="" />
          </div>

          Chromium

          <div
            (click)="selectedElement = 'Chromium'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
        </span>

        <div class="app-card__subtext">{{ chromiumStart }}</div>

        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Chromium in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="chromium"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddChromium()"
          >
            Submit
          </button>
        </div>
      </div>

      <!-- ==========  Cobalt ============-->

      <div class="app-card g-col-3">
        <span>
          <div class="chemImg">
            <img src="../../../assets/CaCl.png" alt="" />
          </div>
          Cobalt

          <div
            (click)="selectedElement = 'Cobalt'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
        </span>
        <div class="menu"></div>
        <div class="app-card__subtext">{{ cobaltStart }}</div>
        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Cobalt in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="cobalt"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddCobalt()"
          >
            Submit
          </button>
        </div>
      </div>

      <!-- ========== Copper  ============-->

      <div class="app-card g-col-3">
        <span>
          <div class="chemImg">
            <img src="../../../assets/MgCl.png" alt="" />
          </div>
          Copper

          <div
            (click)="selectedElement = 'Copper'"
            class=""
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>
        </span>
        <div class="menu copper"></div>
        <div class="app-card__subtext">{{ copperStart }}</div>
        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Copper in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="copper"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddCopper()"
          >
            Submit
          </button>
        </div>
      </div>

      <!-- ========== Floride  ============-->

      <div class="apps-card">
        <div class="app-card">
          <span>
            <div class="chemImg">
              <img src="../../../assets/SoCl.png" alt="" />
            </div>
            Flouride/Flourine

            <div
              (click)="selectedElement = 'Flouride'"
              class=""
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-three-dots-vertical btn text-white"></i>
            </div>

            <div
              (click)="selectedElement = 'flouride'"
              class=""
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            ></div>
          </span>
          <div class="menu"></div>
          <!--three dots -->
          <div class="app-card__subtext">{{ flourideStart }}</div>

          <div class="app-card-buttons input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Flouride in ppm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="flouride"
            />

            <button
              class="btn btn-primary"
              type="button"
              id="button-addon2"
              (click)="onAddFlouride()"
            >
              Submit
            </button>
          </div>
        </div>

        <!-- ========== Iodine  ============-->

        <div class="app-card g-col-3">
          <span>
            <div class="chemImg">
              <img src="../../../assets/sodium bicarb.png" alt="" />
            </div>

            Iodine

            <div
              (click)="selectedElement = 'Iodine'"
              class=""
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-three-dots-vertical btn text-white"></i>
            </div>
          </span>

          <div class="app-card__subtext">{{ iodineStart }}</div>

          <div class="app-card-buttons input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Iodine in ppm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="iodine"
            />
            <button
              class="btn btn-primary"
              type="button"
              id="button-addon2"
              (click)="onAddIodine()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>

      <app-modal [elementName]="selectedElement" [volume]="volume"></app-modal>
    </div>
  </div>
</div>
