<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{elementName}} Calculator</h5>
          <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- input below -->
        <div class="modal-body">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Current level</span>
            <input
            type="text"
            class="form-control"
             placeholder="Current"
            aria-label="Username"
            aria-describedby="basic-addon1"
            [(ngModel)]="current"
            >
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Desired Level</span>
            <input
            type="text"
            class="form-control"
            placeholder="Desired"
            aria-label="Username"
            aria-describedby="basic-addon1"
            [(ngModel)]="desired"
            >
          </div>
          <div class="input-group mb-3" *ngIf="elementName === 'Alkilinity'" >
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select
                class="form-select "
                [(ngModel)]="additiveSelectedDefault"
                >
                <!-- (ngModelChange)="onAlkAdditiveSelected($event)" -->
            <option
                class="text-black"
                *ngFor='let additive of
                [

                    {Id:0, Name:"Select Additive"},
                    {Id:1, Name:"Option 1 Sodium Bicarbonate"},
                    {Id:2, Name:"Option 2 Soda Ash"},
                    {Id:3, Name:"Option 3 Kalkwasser"},

                ]'
                [value]="additive.Id"
              >
              {{additive.Name}}
            </option>

            </select>
          </div>

          <div class="input-group mb-3" *ngIf="elementName === 'Magnesium'" >
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select
                class="form-select "
                [(ngModel)]="additiveSelectedDefault"
                >
                <!-- (ngModelChange)="onAlkAdditiveSelected($event)" -->
            <option
                class="text-black"
                *ngFor='let additive of
                [

                    {Id:0, Name:"Select Additive"},
                    {Id:1, Name:"Option 1 Liquid Magnesium Mix BRS"},
                    {Id:2, Name:"Option 2 Dry Magnesium Cloride"},
                    {Id:3, Name:"Option 3 Dry Magnesium Sulfite"},

                ]'
                [value]="additive.Id"
              >
              {{additive.Name}}
            </option>

            </select>
          </div>

        </div>
        <div class="modal-footer">
          <div class="h6 justify-content-center" *ngIf="elementName === 'Alkilinity'"> {{alkOptionText}} </div>
          <div class="h6 justify-content-center" *ngIf="elementName === 'Magnesium'"> {{magOptionText}}</div>

          <div class="h6  text-dark justify-content-center">  {{result}}</div>

          <div>
            <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                (click)="closeModal()"

                >Close
            </button>

            <button
                type="button"
                class="btn btn-primary"
            (click)="calculate()"

                >Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
