<div class="body">
  <div class="content-section">
    <div class="content-section-title">Minor Elements M-Z</div>

    <div class="apps-card ">
      <div class="apps-card center-card">

        <!-- ========== Rubidium  ============-->

        <div class="app-card g-col-3">
          <span>
            <div class="chemImg">
              <img src="../../../assets/MgCl.png" alt="" />
            </div>
            Rubidium

            <div
              (click)="selectedElement = 'Rubidium'"
              class=""
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-three-dots-vertical btn text-white"></i>
            </div>
          </span>
          <div class="menu rubidium"></div>
          <div class="app-card__subtext">{{ rubidiumStart }}</div>
          <div class="app-card-buttons input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Rubidium in ppm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="rubidium"
            />
            <button
              class="btn btn-primary"
              type="button"
              id="button-addon2"
              (click)="onAddRubidium()"
            >
              Submit
            </button>
          </div>
        </div>

        <!-- ==========  Selenium ============-->

        <div class="apps-card">
          <div class="app-card">
            <span>
              <div class="chemImg">
                <img src="../../../assets/SoCl.png" alt="" />
              </div>
              Selenium

              <div
                (click)="selectedElement = 'Selenium'"
                class=""
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              ></div>
            </span>
            <div class="menu"></div>
            <!--three dots -->
            <div class="app-card__subtext">{{ seleniumStart }}</div>

            <div class="app-card-buttons input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Selenium in ppm"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                [(ngModel)]="selenium"
              />

              <button
                class="btn btn-primary"
                type="button"
                id="button-addon2"
                (click)="onAddSelenium()"
              >
                Submit
              </button>
            </div>
          </div>

          <!-- ========== tin  ============-->

          <div class="app-card g-col-3">
            <span>
              <div class="chemImg">
                <img src="../../../assets/sodium bicarb.png" alt="" />
              </div>

              tin

              <div
                (click)="selectedElement = 'tin'"
                class=""
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="bi bi-three-dots-vertical btn text-white"></i>
              </div>
            </span>

            <div class="app-card__subtext">{{ tinStart }}</div>

            <div class="app-card-buttons input-group">
              <input
                type="text"
                class="form-control"
                placeholder="tin in ppm"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                [(ngModel)]="tin"
              />
              <button
                class="btn btn-primary"
                type="button"
                id="button-addon2"
                (click)="onAddTin()"
              >
                Submit
              </button>
            </div>
          </div>

          <!-- ==========  Tin ============-->

          <div class="app-card g-col-3">
            <span>
              <div class="chemImg">
                <img src="../../../assets/CaCl.png" alt="" />
              </div>
              Tin/Stannum

              <div
                (click)="selectedElement = 'Tin'"
                class=""
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="bi bi-three-dots-vertical btn text-white"></i>
              </div>
            </span>
            <div class="menu"></div>
            <div class="app-card__subtext">{{ tinStart }}</div>
            <div class="app-card-buttons input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Tin/Stannum in ppm"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                [(ngModel)]="tin"
              />
              <button
                class="btn btn-primary"
                type="button"
                id="button-addon2"
                (click)="onAddTin()"
              >
                Submit
              </button>
            </div>
          </div>

          <!-- ========== Zinc  ============-->

          <div class="app-card g-col-3">
            <span>
              <div class="chemImg">
                <img src="../../../assets/MgCl.png" alt="" />
              </div>
              Zinc

              <div
                (click)="selectedElement = 'Zinc'"
                class=""
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="bi bi-three-dots-vertical btn text-white"></i>
              </div>
            </span>
            <div class="menu zinc"></div>
            <div class="app-card__subtext">{{ zincStart }}</div>
            <div class="app-card-buttons input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Zinc in ppm"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                [(ngModel)]="zinc"
              />
              <button
                class="btn btn-primary"
                type="button"
                id="button-addon2"
                (click)="onAddZinc()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>

      <app-modal [elementName]="selectedElement" [volume]="volume"></app-modal>
    </div>
  </div>
</div>
