<div class="body">
  <div class="content-section">
    <div class="content-section-title">Major Elements</div>

    <div class="apps-card center-card">
      <div class="app-card">

        <span>
          <div class="chemImg">

            <img src="../../../assets/SoCl.png" alt="" >
          </div>

          Boron
          <div (click)="selectedElement = 'Magnesium'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

      </span>
        <div class="menu" > </div>
        <div class="app-card__subtext">{{boronStart}}</div>


        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Bromide/Bromine in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="boron">

          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"

            (click)="onAddBoron()"
            >Submit
          </button>
        </div>
    </div>

  <div class="apps-card">
      <div class="app-card">

        <span>
          <div class="chemImg">

            <img src="../../../assets/SoCl.png" alt="" >
          </div>
          Bromide/Bromine

          <div (click)="selectedElement = 'Bromide'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

      </span>
        <div class="menu" > </div>
        <div class="app-card__subtext">{{bromideStart}}</div>


        <div class="app-card-buttons input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Bromide/Bromine in ppm"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="bromide">

          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"

            (click)="onAddBromide()"
            >Submit
          </button>
        </div>
      </div>

      <div class="app-card g-col-3 ">

        <span>
          <div class="chemImg">

            <img src="../../../assets/sodium bicarb.png" alt="" >
          </div>

          Potassium

            <div (click)="selectedElement = 'Potassium'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="bi bi-three-dots-vertical btn text-white"></i>
            </div>

        </span>

        <div class="app-card__subtext">{{potassiumStart}}</div>


        <div class="app-card-buttons input-group">
          <input
              type="text"
              class="form-control"
              placeholder="Potassium in DKH"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="potassium">
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="onAddPotassium()"
          >Submit</button>
        </div>

      </div>

      <div class="app-card g-col-3 ">
        <span>
          <div class="chemImg">

            <img src="../../../assets/CaCl.png" alt="" >
          </div>
          Strontium

          <div (click)="selectedElement = 'Strontium'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

      </span>
        <div class="menu"></div>
        <div class="app-card__subtext">{{strontiumStart}} </div>
        <div class="app-card-buttons input-group">
          <input
              type="text"
              class="form-control"
              placeholder="Strontium in ppm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="strontium">
          <button
              class="btn btn-primary"
              type="button"
              id="button-addon2"
              (click)="onAddStrontium()"
          >Submit</button>
        </div>
      </div>

    <div class="app-card g-col-3 ">
        <span>
          <div class="chemImg">

            <img src="../../../assets/MgCl.png" alt="" >
          </div>
          Sulfate

          <div (click)="selectedElement = 'Sulfate'" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-three-dots-vertical btn text-white"></i>
          </div>

      </span>
        <div class="menu Sulfate"></div>
        <div class="app-card__subtext">{{sulfateStart}} </div>
        <div class="app-card-buttons input-group">
          <input
              type="text"
              class="form-control"
              placeholder="Sulfate in ppm"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              [(ngModel)]="sulfate">
          <button
              class="btn btn-primary"
              type="button"
              id="button-addon2"
              (click)="onAddSulfate()"
            >Submit</button>
        </div>
      </div>

    </div>
  </div>

  <div>
    <app-modal [elementName]="selectedElement" [volume]="volume"></app-modal>
  </div>


